#boutons {
    display: flex;

}

#roll {
    font-size: 2rem;
    width: 33%;
    margin: 5%;
}

#hold {
    font-size: 2rem;
    width: 33%;
    margin: 5%;
}

#newgame {
    font-size: 2rem;
    width: 33%;
    margin: 5%;
}

#dede {
    position: absolute;
    width: 5rem;
    left: 47%;
    top: 50%;
}

#dee {
    position: absolute;
    font-size: 5rem;
    left: 48.5%;
    top: 60%;
}

#container {
    display: flex;
}

#bloc1,
#bloc2 {
    width: 50%;
    text-align: center;
}

#bloc1 {
    background-color: rgb(55, 55, 180);
    padding-bottom: 5%;
}

#bloc2 {
    background-color: rgb(163, 59, 59);
    padding-bottom: 5%;
}

.round,
#sr1,
#sr2 {
    font-size: 2rem;
}

.global,
#sg1,
#sg2 {
    font-size: 3rem;
}

#player1,
#player2 {
    font-size: 5rem;
}

#round_bloc1 {
    background-color: rgb(10, 10, 139);
    margin-left: 20%;
    margin-right: 20%;
}

#round_bloc2 {
    background-color: brown;
    margin-left: 20%;
    margin-right: 20%;
}